name: Hatch

on:
  push:
    branches:
      - main
      - maint/*
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - maint/*
  schedule:
    - cron: '0 0 * * MON'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: 'bash'

env:
  FORCE_COLOR: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: pipx run build
      - run: pipx run twine check dist/*
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/

  test:
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        source: ['repo']
        include:
          - os: ubuntu-latest
            source: sdist
    steps:
      - uses: actions/checkout@v3
        if: matrix.source == 'repo'
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/
        if: matrix.source == 'sdist'
      - name: Unpack sdist
        run: tar --strip-components=1 -xvzf dist/*.tar.gz
        if: matrix.source == 'sdist'
      - uses: actions/setup-python@v5
        with:
          python-version: |
            3.9
            3.10
            3.11
            3.12
      - name: Test
        run: |
          pipx run hatch run test:cov
          pipx run hatch run type:check

  publish:
    runs-on: ubuntu-latest
    needs: [test]
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
